- org = typeof(orgObj) != 'undefined' ? orgObj : {}

form()#orgForm.form-horizontal.well
    if (formtype === 'create' || formtype === 'profile')
        fieldset
            h4 Profile Information
            if (formtype === 'create')
                .control-group
                    label.control-label(for='orgName') Org Name
                    .controls
                        input#orgName.input-full-width(
                        type='text',
                        name='orgName',
                        value=org.profile.orgName,
                        placeholder="Your organization's name",
                        required)
            if (formtype === 'create' || formtype === 'profile')
                .control-group
                    label.control-label(for='billEmail') Billing Email
                    .controls
                        input#billEmail.input-full-width(
                        type='email',
                        name='billEmail',
                        value=org.bill.billEmail,
                        placeholder='Receipts will be sent here',
                        required)

            if (formtype === 'profile')
                .control-group
                    label.control-label(for='orgUrl') URL
                    .controls
                        input#orgUrl.input-full-width(
                        type='url',
                        name='orgUrl',
                        value=org.profile.orgUrl,
                        placeholder="Organization's website")

    if (formtype === 'profile')
        fieldset
            input(
                type='hidden',
                name='geoLng',
                value= org.geo.geoLng)#geoLng
            input(
                type='hidden',
                name='geoLat',
                value= org.geo.geoLat)#geoLat
            input(
                type='hidden',
                name='geoZoom',
                value= org.geo.geoZoom)#geoZoom

            h4 Physical Address
            .control-group
                #mapCanvas(style='width: 400px; height: 300px;')
            .control-group
                input#geoAddress.input-full-width(
                    type='text',
                    name='geoAddress',
                    value= org.geo.geoAddress,
                    placeholder="You can use the map and move the marker to your address")

        fieldset
            h4 Postal Address
            .control-group
                label.control-label(for='boxNum') PoBox Num
                .controls
                    input#boxNum.input-full-width(
                    type='text',
                    name='boxNum',
                    value=org.box.boxNum,
                    placeholder="Postbox number")
            .control-group
                label.control-label(for='boxSuburb') Suburb
                .controls
                    input#boxSuburb.input-full-width(
                    type='text',
                    name='boxSuburb',
                    value=org.box.boxSuburb,
                    placeholder="Street name and number")
            .control-group
                label.control-label(for='boxCode') Code
                .controls
                    input#boxCode.input-full-width(
                    type='text',
                    name='boxCode',
                    value=org.box.boxCode,
                    placeholder="Postal code")
            .control-group
                label.control-label(for='boxCity') City
                .controls
                    input#boxCity.input-full-width(
                    type='text',
                    name='boxCity',
                    value=org.box.boxCity,
                    placeholder="City")
            .control-group
                label.control-label(for='boxCountry') Country
                .controls
                    select#boxCountry(
                    name='boxCountry')
                        each item in countries
                            option(selected=item.name == org.box.boxCountry)=item.name

    if (formtype === 'create' || formtype === 'billing')
        fieldset#bill
            h4 Choose the organization's plan
            input(type='hidden', name='billPlan', value=org.bill.billPlan)#billPlan
            table.table.table-striped
                thead
                    tr
                        th Plan
                        th Cost
                        th Size
                tbody
                    each arr, key in products
                        tr
                            td= arr[0]
                            td= arr[1]
                            td= arr[2]
                            td
                                div(id=key)  Choose

    if (formtype === 'create' || formtype === 'billing')
        fieldset#card
            //- The fields here are set to required by JS.
            //- When a user selects a plan that requires a CC, these fields
            // - come into play. Otherwise not.
            h4 Credit Card details
            .control-group
                label.control-label(for='crdName') Card Name
                .controls
                    input#crdName.input-full-width(
                    type='text',
                    name='crdName',
                    value=org.card.crdName,
                    placeholder='Name as it it on the Card')

            .control-group
                label.control-label(for='crdType') Card Type
                .controls
                    select#crdType(
                    name='crdType')
                        each val, index in cCards
                            option(value=index,
                                selected=index == org.card.crdType
                            )=val
            .control-group
                label.control-label(for='crdNumber') Card Number
                .controls
                    input#crdNumber.input-full-width(
                    type='text',
                    name='crdNumber',
                    value=org.card.crdNumber,
                    placeholder='Number as it is on the card')

            .control-group
                label.control-label(for='crdExpDate') Expiration (MM/YYYY)
                .controls
                    input#crdExpDate.input-full-width(
                    type='text',
                    name='crdExpDate',
                    placeholder='MM/YYYY',
                    value=org.card.crdExpDate,
                    pattern="[0-9]{2}/[0-9]{4}")
            .control-group
                label.control-label(for='crdCvv') CVV
                .controls
                    input#crdCvv.input-mini(
                    type='text',
                    name='crdCvv',
                    value=org.card.crdCvv,
                    placeholder='3 or 4 digits',
                    pattern="[0-9]{3,4}")

    fieldset
        .form-actions
            .form-action-right
                #orgFormCancel Cancel
                #orgFormSubmit.g-button-submit
                    i.icon-group
                    | #{button_legend}