- org = typeof(orgObj) != 'undefined' ? orgObj : {}

.container-440-left
    .detail-head
        .content Orginization Account

    if org.profile.orgUrl
        .dl-hwrap
            .dl-head Contact
        dl.dl-horizontal.left-100
            dt Homepage
            dd
                a=org.profile.orgUrl

    if (org.geo.geoAddress && org.geo.geoLat && org.geo.geoLng && org.geo.geoAddress != "Cannot determine address at this location.")
        .dl-hwrap
            .dl-head Physical Address
        img(
            border = "0",
            src = "http://maps.googleapis.com/maps/api/staticmap?center=#{org.geo.geoLat},#{org.geo.geoLng}&size=400x300&zoom=#{org.geo.geoZoom}&maptype=roadmap&visual_refresh=true&&markers=color:red%7Ccolor:red%7C#{org.geo.geoLat},#{org.geo.geoLng}&sensor=false")
        dl.dl-horizontal.left-100
            dt Address
            dd= org.geo.geoAddress

    .dl-hwrap
        .dl-head Postal Address
    dl.dl-horizontal.left-100
        dt PoBox Number
        dd= org.box.boxNum

        dt Suburb
        dd= org.box.boxSuburb

        dt Postal Code
        dd= org.box.boxCode

        dt City
        dd= org.box.boxCity

        dt Country
        dd= org.box.boxCountry

    .dl-hwrap
        .dl-head Members
    dl.dl-horizontal.left-100
        dt No. of Owners
        dd= org.owners.length || 'None'

        dt No. of Members
        dd= org.members.length || 'None'
