- org = typeof(orgObj) != 'undefined' ? orgObj : {}

.container-440-left
    .detail-head
        .content Orginization Account

    .dl-hwrap
        .dl-head Contact
        #editContacts.edit.linklike Edit
    dl.dl-horizontal.left-100
        dt Homepage
        dd
            if org.profile.orgUrl
                a(href=org.profile.orgUrl)= org.profile.orgUrl
            else
                .not-set Not set yet


    .dl-hwrap
        .dl-head Physical Address
        #editPhysAddress.edit.linklike Edit
    if (org.geo.geoAddress && org.geo.geoLat && org.geo.geoLng && org.geo.geoAddress != "Cannot determine address at this location.")
        img(
            border = "0",
            src = "http://maps.googleapis.com/maps/api/staticmap?center=#{org.geo.geoLat},#{org.geo.geoLng}&size=440x280&zoom=#{org.geo.geoZoom}&maptype=roadmap&visual_refresh=true&&markers=color:red%7Ccolor:red%7C#{org.geo.geoLat},#{org.geo.geoLng}&sensor=false")
    dl.dl-horizontal.left-100
        dt Address
        dd
            if org.geo.geoAddress
                =org.geo.geoAddress
            else
                .not-set Not set yet

    .dl-hwrap
        .dl-head Postal Address
        #editPostalAddress.edit.linklike Edit
    dl.dl-horizontal.left-100
        dt PoBox Number
        dd(class=org.box.boxNum?'':'not-set')= org.box.boxNum?org.box.boxNum:'Not set yet'

        dt Suburb
        dd(class=org.box.boxSuburb?'':'not-set')= org.box.boxSuburb?org.box.boxSuburb:'Not set yet'

        dt Postal Code
        dd(class=org.box.boxCode?'':'not-set')= org.box.boxCode?org.box.boxCode:'Not set yet'

        dt City
        dd(class=org.box.boxCity?'':'not-set')= org.box.boxCity?org.box.boxCity:'Not set yet'

        dt Country
        dd(class=org.box.boxCountry?'':'not-set')= org.box.boxCountry?org.box.boxCountry:'Not set yet'

    .dl-hwrap
        .dl-head Members
    dl.dl-horizontal.left-100
        dt Owner
        dd#ownerLink(data-id= org.owner.uid).numberreadout= org.owner.salutation

        dt No. of Members
        dd.numberreadout= org.members.length || 'None'
