- org = typeof(orgObj) != 'undefined' ? orgObj : {}

.container-440-center
    h2.icon-building
        span(style="margin-left: 20px") #{org.profile.orgName}

    if org.profile.orgUrl
        dl.dl-horizontal
            dt Homepage
            dd
                a=org.profile.orgUrl

    h4 Physical Address
    dl.dl-horizontal
        dt Street
        dd= org.loc.locStreet

        dt Suburb
        dd= org.loc.locSuburb

        dt Code
        dd= org.loc.locCode

        dt City
        dd= org.loc.locCity

        dt Country
        dd= org.loc.locCountry

    h4 Postal Address
    dl.dl-horizontal
        dt PoBox Number
        dd= org.box.boxNum

        dt Suburb
        dd= org.box.boxSuburb

        dt Postal Code
        dd= org.box.boxCode

        dt City
        dd= org.box.boxCity

        dt Country
        dd= org.box.boxCountry

    h4 Members
    dl.dl-horizontal
        dt No. of Owners
        dd= org.owners.length || 'None'

        dt No. of Members
        dd= org.members.length || 'None'