- org = typeof(orgObj) != 'undefined' ? orgObj : {}

.container-440-left
    .detail-head
        .content Orginization Account

    if org.profile.orgUrl
        .dl-hwrap
            .dl-head Contact
        dl.dl-horizontal.left-100
            dt Homepage
            dd
                a=org.profile.orgUrl

    .dl-hwrap
        .dl-head Physical Address
    dl.dl-horizontal.left-100
        dt Street
        dd= org.loc.locStreet

        dt Suburb
        dd= org.loc.locSuburb

        dt Code
        dd= org.loc.locCode

        dt City
        dd= org.loc.locCity

        dt Country
        dd= org.loc.locCountry

    .dl-hwrap
        .dl-head Postal Address
    dl.dl-horizontal.left-100
        dt PoBox Number
        dd= org.box.boxNum

        dt Suburb
        dd= org.box.boxSuburb

        dt Postal Code
        dd= org.box.boxCode

        dt City
        dd= org.box.boxCity

        dt Country
        dd= org.box.boxCountry

    .dl-hwrap
        .dl-head Members
    dl.dl-horizontal.left-100
        dt No. of Owners
        dd= org.owners.length || 'None'

        dt No. of Members
        dd= org.members.length || 'None'