- urlMap = urlmap
#av_api.container-440-left
    .detail-head
        .content Air Vantage API Demonstrations
    .av_tests.btn-group-vertical
        .content User Interaction

        .av_test_button(data-url=urlMap.AV.USER.ALL)
            | List All Users

        .av_test_button(data-url=urlMap.AV.USER.DETAIL)
            | Find Selected User

        .av_test_button(data-url=urlMap.AV.USER.CURRENT)
            | Find Current User

        .av_test_button(data-url=urlMap.AV.USER.PICTURE_NORMAL)
            | Find User Picture

        .av_test_button(data-url=urlMap.AV.USER.PICTURE_SMALL)
            | Find User Avatar

        .av_test_button(data-url=urlMap.AV.USER.PICTURE_ICON)
            | Find User Icon

        .av_test_button(data-url=urlMap.AV.USER.RIGHTS)
            | Find User Rights

        .av_test_button(data-url=urlMap.AV.USER.CLIENTS)
            | Authhriesd Clients
