- account = typeof(udata) != 'undefined' ? udata : { }

//- name: 'Joe',
    surname: 'Soap',
    email: 'joe.soap@gmail.com',
    url: null,
    location: { city: 'Cape Town', country: 'South Africa' },
    contact: { phone: '+27123456789', cell: '082123456' } }

.container-440-left
    .detail-head
        .content Accounts
        #editProfile.edit.linklike Edit

    if account.url
        .dl-hwrap
            .dl-head Contact
        dl.dl-horizontal.left-100
            dt Homepage
            dd
                a(href=account.url)= account.url
    .dl-hwrap
        .dl-head Physical Address
    dl.dl-horizontal.left-100
        dt City
        dd= account.location.city

        dt Country
        dd= account.location.country

    .dl-hwrap
        .dl-head Contact Details
    dl.dl-horizontal.left-100
        dt Email
        dd
            a(href='mailto:' + account.email)= account.email

        dt Landline
        dd= account.contact.phone || 'Not known'

        dt Mobile
        dd= account.contact.cell || 'Not known'