// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : { }

#active_user_container.topfixed
    .signup Welcome
        #user_button
            i.icon-cog
            | #{user.name}

.container.span3.expr_wrapper
    h2 Hello #{user.name}
    p
        | We are waiting for your devices to register to:
    h4 @reg/#{user._id}
    p
        | To register your device needs to publish to the above topic, with a
        | PID (personal ID) of your choosing in the payload. We will then reply
        | with a device specific UID that your device will have to use as a
        | topic prefix for all further publishing. Our reply will be published to:
    h4 @regok/#{user._id}/PID
    p
        | so your device can register to listen to that topic
    p
        | All further comms from your device will have to have the topic prefix
    h4 #{user._id}/UID

script
    console.debug('Hello Bloody hello')