// preset form values if we receive a userdata object //
- account = typeof(udata) != 'undefined' ? udata : { }

#active_user_container.topfixed
    .signup Welcome
        #user_button
            i.icon-cog
            | #{account.profile.name}

#sysreadout
    .sysreadout.topfixed-left Active Clients:
        #active_clients.number

    .sysreadout.topfixed-left Bytes Sent:
        #bytes_sent.number

    .sysreadout.topfixed-left Bytes Received:
        #bytes_received.number

.row.expr_wrapper
    .span4
        h2 Hello #{account.profile.name}
        p
            | We are waiting for your devices to register to:
        h4 @reg/#{account._id}
        p
            | To register your device needs to publish to the above topic, with a
            | PID (personal ID) of your choosing in the payload. We will then reply
            | with a device specific UID that your device will have to use as a
            | topic prefix for all further publishing. Our reply will be published to:
        h4 @regok/#{account._id}/PID
        p
            | so your device can register to listen to that topic
        p
            | All further comms from your device will have to have the topic prefix
        h4 #{account._id}/UID

    .span3
        #in_mqtt
    .span3
        #in_sys

script
    console.debug('Hello Bloody hello')