extends index

block content
    #account-form-container
        h3 Reset Password
        form()#account-form.form-horizontal.well
            input(type="hidden", name="user", value=user)
            hr
            fieldset
                #pass-cg.control-group
                    label.control-label(for='pass-tf') New Password
                    .controls
                        input#pass-tf.input-xlarge(
                        type='password',
                        name='pass',
                        value='',
                        placeholder='Create a password',
                        required)

                #confpass-cg.control-group
                    label.control-label(for='confpass-tf') Confirm Password
                    .controls
                        input#confpass-tf.input-xlarge(
                        type='password',
                        name='confpass',
                        value='',
                        placeholder='Confirm password',
                        required)

                .form-actions
                    #account-cancel Cancel
                    #account-submit.g-button-submit Submit